* {
  box-sizing: border-box;
}

.app {
  font-size: 1.5em;
  display: flex;
  flex: wrap;
}

.map-container {
  margin: 0 auto;
  width: 70%;
  min-height: 100vh;
}

#map {
  height: 100%;
}

.list-container {
  margin: 0 auto;
  width: 30%;
  height: 100vh;
  border-right: grey solid;
}

.location-serach {

}

.locations-list {
  list-style-type: none;
}

.underline {
  text-decoration: underline;
}

