* {
  box-sizing: border-box;
}

.app {
  font-size: 1.5em;
  display: flex;
  flex: wrap;
}

.map-container {
  margin: 0 auto;
  min-width: 70%;
  min-height: 100vh;
  position: relative;
}

#map {
  height: 100%;
}

.gm-style-iw {
	max-height: 200px;
	max-width: 300px;
}

.toggle-button {
	position: absolute;
	z-index: 100;
}

.list-container {
  margin: 0 auto;
  min-width: 30%;
  height: 100vh;
  border-right: grey solid;
}

h1 {
	margin-left: 30px;
}

.location-serach {
	margin-left: 30px;

}

.locations-list {
  list-style-type: none;
}


@media only screen and (max-width: 800px) {
	h1 {
		font-size: 1em;
		margin-left: 20px;
	}

	li {
		font-size: 0.75em;
	}

	.locations-list {
		margin-left: 20px;
		padding: 0;
	}
	.location-serach{
		width: 70%;
		margin-left: 20px;
	}
}

@media only screen and (max-width: 530px) {
	h1 {
		font-size: 0.75em;
	}

	li {
		font-size: 0.5em;
	}

	.map-container {
		max-width: 60%;
	}

	.locations-list {
		margin-left: 10px;
	}

	.location-serach{
		width: 50%;
		margin-left: 10px;
	}
}


